body {
  font-family: "Lato", sans-serif;
}
.header {
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
  width: 100%;
  padding-top: 56px;
  background-color: transparent;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
}
.header-container {
  display: flex;
}
.header-logo {
}
.header-icon {
  fill: #fff;
  
}
.header-navigation {
  display: flex;
  margin-left: auto;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 82px;
}
.header-list {
}
.header-link {
  font-size: 18px;
  color: #fff;
  font-weight:400;
  line-height: 24px;
}
/*-----------------------------  HERO  --------------------------*/
.hero {
  background-image: url(../img/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-section {

}
.hero-tittle {
  padding-top: 240px;
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  margin-bottom: 22px;
  width: 619px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 60px;
  width: 546px;
}
.hero-input-list{
  display: flex;
  align-items: baseline;
  gap: 60px;
}
.hero-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 376px;
  outline: none;
  width: 297px;
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  position: relative;
  background: url(../svg/Oval.svg);
  background-repeat: no-repeat;
  background-position:left;
  text-align: center;
}
.hero-input::before{  
 

}
.hero-input::placeholder{
  color: #fff;
  margin-bottom: 10px;
  padding-left: 23px;
}
.hero-btn {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  border: none;
  background-color: #1B7DFF;
  padding: 15px 39px;
}
/*---------------------- BENEFITS ------------------------*/
.benefits{
  margin-left: 58px;
  margin-right: 58px;
  
}
.benefits-container {
  padding: 100px;
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  background: #fff;
  position: relative;
  z-index: 1;
  margin-top: -100px;
  padding: 100px;
}
.benefits-tittle {
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  margin-bottom: 120px;
}
.benefits-list {
  display: flex;
  gap: 55px;
}
.benefits-item {
}
.benefits-icon{
  margin-bottom: 37px;
}
.benefits-title-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 39px;
}
.benefits-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  position: relative;
}
.benefits-link span{
  fill: #006DFE;
  margin-left: 25px;
}